/* src/app/globals.css or styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: Custom overrides */
body {
  @apply bg-white text-black dark:bg-slate-800 dark:text-white;
}

